<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>com.test.LogFilter</filter-class>
    <init-param>
      <param-name>Site</param-name>
      <param-value>raybu</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SearchFilter</filter-name>
    <filter-class>com.test.SearchFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SearchFilter</filter-name>
    <url-pattern>/searchpage.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ChkSessionFilter</filter-name>
    <filter-class>com.test.ChkSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ChkSessionFilter</filter-name>
    <url-pattern>/index_login.jsp</url-pattern>
    <url-pattern>/advise.jsp</url-pattern>
    <url-pattern>/sh_sz.jsp</url-pattern>
    <url-pattern>/user_center.jsp</url-pattern>
    <url-pattern>/world.jsp</url-pattern>
    <url-pattern>/searchpage.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>DisplayHeader</servlet-name>
    <servlet-class>com.test.DisplayHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayHeader</servlet-name>
    <url-pattern>/TomcatTest/DisplayHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.test.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/TomcatTest/ErrorHandler</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/TomcatTest/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>